<div class="spotify_playlists_container">

  <h3> HERE GOES THE USERS SPOTIFY PLAYLISTS </h3>

</div>

<div class="new_spotify_playlist_container">
  <!-- POST  /v1/users/{user_id}/playlists -->
  <%= form_tag "#" do %>
    <%= label_tag, "New Playlist Name:" %>
    <%= text_field_tag,  %>
    <%= submit_tag "Create playlist", class: "button" %>
  <%= end %>
</div>

<div class="new_setlist_form_container">
  <%= form_for @setlist do |f| %>
    <%= f.label :name, "Setlist Name:" %>
    <%= f.text_field :name %>
  <%= end %>
</div>
