<!DOCTYPE html>
<html>
<head>
  <title>JUKE</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Cherry+Cream+Soda' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Orbitron|Quicksand|Righteous|Architects+Daughter|Gloria+Hallelujah|Sanchez|Covered+By+Your+Grace|Coming+Soon|Rock+Salt' rel='stylesheet' type='text/css'>
</head>
<body>
  <aside id="bg"><%=image_tag("party1.jpg")%></aside>
  <h1 id="website_title">JUKE</h1>
<% if @errors %>
  <section class="errors">
    <p>Errors:</p>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<section class="login_page">
  <h2 class="guest_login"><%=render partial: "/sessions/login_form"%></h2>
  <h2 class="guest_register"><%=render partial: "users/register_form"%></h2>

  <h3>Import and crowd source your playlists!</h3>
  <a href="/auth/spotify">Login with your Spotify account</a>

  <div class="guest_login">
  <h4>Not a Spotify member? Login or sign up as a party guest!</h4>
  <a id="login_button" href="/login">Login<a>
  <a id="register_button" href="/users/new">Sign Up<a>
  </div>
</section>
</body>
</html>
