<div id="new_search_form">
  <%= form_tag '/search' do %>
    <%=text_field_tag 'query'%>
    <%=hidden_field_tag 'setlist_id', setlist_id%>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<%if @results%>
  <div class="results_container">
    <% @results.each do |song| %>
      <%=form_for Song.new do |f|%>
        <div class="song_listing">
          <%= f.hidden_field :title, value: song[:title] %>
          <%= f.hidden_field :artist, value: song[:artist] %>
          <%= f.hidden_field :album, value: song[:album] %>
          <%= f.hidden_field :song_spotify_url, value: song[:url] %>
          <%= hidden_field_tag 'setlist_id', setlist_id%>
          <span class="song"><%=f.submit song[:title] %></span>
          <h7 class="song_details">
            | <span class="artist_name"> <%= song[:artist] %></span> |
            <span class="album_name"><%= song[:album] %></span>
          </h7>
        </div>
      <% end %>
    <% end %>
  </div>
<%end%>

<h3 class="search_results"></h3>

