<ol>
  <h3><%= list_title %></h3>
  <% setlist_songs.each do |setlist_song| %>
    <% song = setlist_song.song %>
    <li class="song">
      <% if setlist_song.list_status == 0 || setlist_song.list_status == 1 %>
      <form><input id="suggest_box" type="checkbox" name="song" value="list_status">
        <%= song.title %></li>
      </form>
      <% end %>
    <h7 class="song_details">
      <span class="artist_name"><%= song.artist %></span> |
      <span class="album_name"><%= song.album %></span>
    </h7>
    <div class="vote_buttons"> <%= render partial: 'votes/new', layout: false, locals: {setlist_song: setlist_song} %>
  <% end %>
</ol>
