<ol id="show_partial_list">
  <%= form_for @setlist, method: "put" do |f| %>
    <% setlist_songs.each do |setlist_song| %>
      <% song = setlist_song.song %>

      <li>
      <% if setlist_song.list_status == 0 %>
        <%= check_box_tag "setlist_songs[]", setlist_song.id %>
      <% end %>
      <span class="song"><%= song.title %> | <%=button_to('Delete', setlist_song.song, method: "delete", params: {setlist_song_id: setlist_song.id})%></span>
      </li>

      <h7 class="song_details">
        <span class="artist_name"><%= song.artist %></span> |
        <span class="album_name"><%= song.album %></span>
      </h7>
    <% end %>

    <div id="update_button">
    <% if params[:action] == "edit" && hide_update?%>
      <span id="edit_update_button"><%= f.submit "Update on Spotify" %></span>
    <% end %>
    </div>
  <% end %>
</ol>
