<ol>
  <h3>
    <%= list_title %></h3>
    <%= form_for @setlist, method: "put" do |f| %>

    <% setlist_songs.each do |setlist_song| %>
      <% song = setlist_song.song %>

    <li data-id="<%= setlist_song.id %>" class="song">
      <% if setlist_song.list_status == 2%>
        <%= f.check_box :setlist_songs %>
        <%= song.title %>
    </li>
      <% end %>

    <h7 class="song_details">
      <span class="artist_name"><%= song.artist %></span> |
      <span class="album_name"><%= song.album %></span>
    </h7>
    <div class="vote_buttons">

      <% if params[:action] == "show" %>
        <%= render partial: 'votes/new', layout: false, locals: {setlist_song: setlist_song} %>
      <% end %>
    <% end %>
      <%= f.submit "Update!" %>
  <% end %>
</ol>
