<div class="invite_button">
  <%= button_to "Invite", setlist_invite_path(@setlist), method: :get %>
</div>

<div class="link_to_player_page">
  <%= link_to "Play Juke", player_path(@setlist), method: :get, :target => " _blank" %>
</div>

<div class="both_lists">
  <div class="setlist_title">
    <h2><%= @setlist.name %></h2>
  </div>

  <div class="current_list_container">
    <ol>
    <%= render partial: "show_partial", locals: {list_title: "Current Playlist", setlist_songs: @setlist.setlist_songs.where(list_status: 2)} %>
    </ol>
  </div>

  <div class="suggested_songs_container">
    <%= render partial: "show_partial", locals: {list_title: "Suggested Tracks", setlist_songs: @setlist.setlist_songs.where(list_status: [0, 1])} %>
  </div>
</div>
