<div class="edit_page_container">

  <div class="link_to_player_page">
    <%= link_to "Play Juke", setlist_player_path(@setlist), method: :get, :target => " _blank" %>
  </div>

  <div class="link_to_player_page" id="reorder_juke_link">
    <%= link_to "Reorder Juke", setlist_reorder_path(@setlist) %>
  </div>

  <div>
    <div class="setlist_title" id="edit_setlist_title">
      <h2><%= @setlist.name %></h2>
    </div>

    <div id="invite_code">
      Code: <%= @setlist.invite_code %>
    </div>

    <div class="both_list_links">
      <div class="invite_button">
        <%= button_to "Invite", setlist_invite_path(@setlist), method: :get %>
      </div>

      </br>

      <div id="hide_button">
          <a href="/home">X</a>
      </div>

      <div id="current_list_link">
        <a href="/home">Current List</a>
      </div>
      </br>
      <div id="suggested_list_link">
        <a href="/home">Suggested Songs</a>
      </div>
    </div>
  </div>

  <div class="both_lists">
    <div id="hide_button">
        <a href="/home">X</a>
    </div>
    <div class="current_list_container">
      <ol>
        <% if !@setlist.sort_by_votecount([2]).empty? %>
          <%= render partial: "show_partial", locals: {list_title: "Current Playlist", setlist_songs: @setlist.sort_by_votecount(2)} %>
        <% else %>
          <h2>Invite friends to join this juke to suggest songs</h2>
        <% end %>
      </ol>
    </div>
    <div class="suggested_songs_container">
      <% if !@setlist.sort_by_votecount([0, 1]).empty? %>
        <%= render partial: "show_partial", locals: {list_title: "Suggested Tracks", setlist_songs: @setlist.sort_by_votecount([0, 1])} %>
      <% else %>
        <h2>Invite friends to join this Juke and suggest songs</h2>
      <% end %>
    </div>
  </div>

</div>
