<div class="new_playlists_body">
  <h2 id="new_playlists_header">Create a New Playlist</h2>
  <h3 class="playlists_label">Import from Spotify</h3>
  <div class="spotify_playlists_container">
    <ol>
      <% @playlists.each do |playlist| %>
        <div class="spotify_playlist_container">
        <%= form_for(@setlist) do |f| %>
          <%= f.hidden_field :name, value: playlist[:name] %>
          <%= f.hidden_field :spotify_url, value: playlist[:url] %>
          <%= f.hidden_field :invite_code, value: SecureRandom.uuid.slice(0,5) %>
          <ul> <%= f.submit playlist[:name]%> </ul>
        <% end %>
        </div>
      <% end %>
    </ol>
  </div>

  <div class="create_setlist_form">
    <h3 class ="playlists_label">Make a new playlist</h3>
    <%= form_for @setlist do |f| %>
      <%= f.text_field :name %>
      <%= f.hidden_field :new_setlist, value: true %>
      <%= f.submit %>
    <% end %>
  </div>

</div>
