<div class="showpage_songs_container">

  <h2 class="search_form"><%=render partial: "search/new", locals: {setlist_id: @setlist.id}%></h2>

  <ol>
    <div class="setlist_title">
      <h3><%= @setlist.name %></h3>
    </div>
    <% @setlist.sort_by_votecount(2).each do |current_song| %>
      <% song = current_song.song %>
      <ul>
        <div class="song_name"><%= song.title %></div>
        </br>
      </ul>

      <h7 class="song_details">
        <div class="artist_name"><%= song.artist %></div>
        <div class="album_name"><%= song.album %></div>
      </br>
      </h7>

       <div class="vote_buttons">
          <% if params[:action] == "show" %>
            <%= render partial: 'votes/new', layout: false, locals: {setlist_song: current_song} %>
          <% end %>
        </div>
    <% end %>
  </ol>
</br>
  <ol>
    <div class="setlist_title">
      <h3> Pending Songs </h3>
    </div>
    <% @setlist.sort_by_votecount([0, 1]).each do |pending_song| %>
      <% suggested_song = pending_song.song %>
      <ul>
        <div class="song_name"><%= suggested_song.title %></div>
      </ul>
      <h7 class="song_details">
        <div class="artist_name"><%= suggested_song.artist %></div>
        <div class="album_name"><%= suggested_song.album %></div>
        <p>________________</p>
      </h7>
    <% end %>
  </ol>

</div>
