<div class="new_juke_button">
    <%= button_to "new JUKE", new_juke_path, method: :get, class: "button" %>
</div>

<div class="join_juke_button">
    <%= button_to "join JUKE", invite_code_path, method: :get, class: "button" %>
</div>

<div class="join_juke_form">
  <%= form_tag join_path do %>
  <div><%= label_tag :invite_code %></div>
  <div><%= text_field_tag :invite_code, nil, placeholder: "ex: frogs1435" %></div>
  <div><%= submit_tag "join JUKE", class: "button" %></div>
  <% end %>
</div>

<div class="my_jukes_button">
    <%= button_to "my JUKES", "#", method: :get, class: "button" %>
</div>
