
<div class="juke_button" id="new_juke_button">
  <%= link_to "New", new_setlist_path, method: :get, class: "link" %>
</div>



<div class="juke_button" id="my_jukes_button">
    <%= link_to "Profile", user_path(@user), method: :get, class: "link" %>
</div>

<div class="juke_button" id="join_juke_button">
  <%= link_to "Join a Juke", invite_code_path%>
</div>

<div class="join_juke_form">
  <%= form_tag join_path, method: :get do %>
  <div><%= label_tag :invite_code, "Enter Invite Code Here" %></div>
  <%= text_field_tag :invite_code, nil, placeholder: "ex: frogs1435" %>
  <span id="join_juke_form_submit"><%= submit_tag "Join", class: "button" %></span>
  <% end %>
</div>
