<div class="vote_buttons">
  <%= form_for @vote do |f| %>
    <%= f.hidden_field :value, :value => 1 %>
    <%= f.hidden_field :setlist_song_id, :value => setlist_song.id %>
    <%= f.submit "Up Vote", class: "button"  %>
  <% end %>


  <%= form_for @vote do |f| %>
    <%= f.hidden_field :value, :value => -1 %>
    <%= f.hidden_field :setlist_song_id, :value => setlist_song.id %>
    <%= f.submit "Down Vote", class: "button"  %>
  <% end %>

  <p>Vote value: <%= SetlistSong.find(setlist_song.id).vote_count %> </p>
  <p> ________________________________ </p>
</div>

