<div class="vote-buttons">
  <%= form_for Vote.new do |f| %>
    <%= f.hidden_field :value, :value => 1 %>
    <%= f.hidden_field :setlist_song_id, :value => setlist_song_id %>
    <%= f.submit "Up Vote", class: "button"  %>
  <% end %>

  <%= form_for Vote.new do |f| %>
    <%= f.hidden_field :value, :value => -1 %>
    <%= f.hidden_field :setlist_song_id, :value => setlist_song_id %>
    <%= f.submit "Down Vote", class: "button"  %>
  <% end %>

 <p>Vote value: <%= SetlistSong.find(setlist_song_id).votes.sum(:value) %> </p>
</div>
