<!DOCTYPE html>
<html>
<head>
  <title>JUKE</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Cherry+Cream+Soda' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Orbitron|Quicksand|Righteous|Architects+Daughter|Gloria+Hallelujah|Sanchez|Covered+By+Your+Grace|Coming+Soon|Rock+Salt' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrapper" id="header_container">
  <div class="header">
    <a class="logo" href="/home">JUKE</a>
    <% if logged_in? %>
      <a class="login_and_logout" href="<%= logout_path %>">logout</a>
    <% else %>
      <a class="login_and_logout" href="<%= login_path %>">login</a>
    <% end %>
  </div>
</div>

<div class="flash_container">
  <% flash.each do |key, value| %>
    <div id="flash_alert"><%= value %>
  <% end %>
</div>

<%= yield %>

<div class= "footer">
<p>Copyright (c) 2015</p>
</div>

</body>
</html>
