<!DOCTYPE html>
<html>
<head>
  <title>JUKE</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header_container">
  <div class="header">
    <a class="logo" href="/"><%=image_tag("Header1.png")%></a>
    <% if logged_in? %>
      <a class="login_and_logout" href="<%= logout_path %>">logout</a>
    <% else %>
      <a class="login_and_logout" href="<%= login_path %>">login</a>
    <% end %>
  </div>
</div>

<div id="flash-container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %>
  <% end %>
</div>

<%= yield %>

<div id="footer_container">
  <div class = "footer">

  </div>
</div>

</body>
</html>
